.ToDo__wrapper{
    /* background: #efefef; */
}


.input__wrapper{
    border: #bdbdbd .5px solid;
    border-radius: 10px;
    max-width: 600px;
    margin: 10px auto;
    padding: 10px 0;
    background: #fff;

}

.input__wrapper .input__and__button .task__input{
    width: 40%;
}